body {
    background-color: #F8BBD0;
    font-family: Arial, sans-serif;
}


.header .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
}

.header .button-link:hover {
    background-color: #45a049;
}


.collection img {
    width: 400px;
    height: 300px;
    border: 2px solid blue;
    transition: all 1s ease; 
}

.buttons button {
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #e64a19;
}
